@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: local('Roboto'),
  url('./Roboto-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: local('Roboto'),
  url('./Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
}
