name: Build and test



on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Node to GH
        # You may pin to the exact commit or the version.
        # uses: FdelMazo/node-to-gh-action@7e9fea02899d91fa04cac0c4b5ae7e6e27ef18ec
        uses: FdelMazo/node-to-gh-action@v2
        with:
          folder: dist
